.portfolio {

  background: #C9FFC2;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  margin-top: 40px;

  img {
    display: block;
    width: 100px;
    border-top-left-radius: 5px;
  }

}

.portfolio-meta {

  width: 100px;
  height: 100px;
  border-top-right-radius: 5px;

}

.portfolio-meta h1 {

  background: #A8ED9F;
  padding: 20px;
  margin: 0;
  color: #158207;
  border-top-right-radius: 5px;

  p {
    margin: 20px 0 0 0;
    padding: 0 20px;
  }

}