/* line 1, ../sass/components/_base.scss */
body {
  background: #3181BD;
}

/* line 7, ../sass/components/_base.scss */
.wrap {
  margin: 0 auto;
  width: 960px;
}

/* line 14, ../sass/components/_base.scss */
ul, ol {
  padding: 0;
  margin: 0 0 0 30px;
}

/* line 21, ../sass/components/_base.scss */
li {
  margin: 0 0 10px 0;
  padding: 0;
}

/* line 1, ../sass/components/_navigation.scss */
.portfolio {
  background: #4A99D4;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}
/* line 8, ../sass/components/_navigation.scss */
.portfolio img {
  display: block;
  width: 595px;
  float: left;
  border-top-left-radius: 5px;
}

/* line 17, ../sass/components/_navigation.scss */
.avatar-meta {
  float: left;
  width: 250px;
  height: 300px;
  border-top-right-radius: 5px;
}

/* line 26, ../sass/components/_navigation.scss */
.portfolio-meta h1 {
  background: #206191;
  padding: 20px;
  margin: 0;
  color: #fff;
  border-top-right-radius: 5px;
}
/* line 34, ../sass/components/_navigation.scss */
.portfolio-meta h1 p {
  margin: 20px 0 0 0;
  padding: 0 20px;
}

/* line 1, ../sass/components/_footer.scss */
.about {
  list-style-type: none;
  clear: both;
  padding: 20px;
  background: #206191;
  border-top: 5px solid #0C4B7A;
}

/* line 12, ../sass/components/_footer.scss */
.comparibles {
  padding: 20px;
  border-top: 5px solid #0C4B7A;
  background: #4A99D4;
}

/* line 20, ../sass/components/_footer.scss */
.personas {
  padding: 20px;
  background: #206191;
}

/* line 26, ../sass/components/_footer.scss */
.gallery {
  elements: block;
  height: 500px;
  padding-top: 20px;
  padding-right: 20px;
}

/* line 33, ../sass/components/_footer.scss */
.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
